.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 0px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #007EEA;
    background-image: linear-gradient(to bottom, #007EEA 0%, #0B0B35 100%);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    background-color: #007EEA;
    background-image: linear-gradient(to bottom, #007EEA 0%, #0E1125 100%);
    margin:0px auto;
    padding:5px 30px 20px 30px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.breadcrumb{
    background-color: #E8E8E8;
}

body{
    vertical-align: middle;
    color: #000;
    padding:50px 0px 0px 0px;
    z-index:0;
}

.customheading{
    color: #BCC6CC;
}

.navbar-inverse {
     background: #3A3838;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #007EEA;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #007EEA;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #007EEA;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #E8E8E8;
    text-align:center;
}

.dropdown-header {
    color: #3A3838;
    font-weight: bold;
    font-size: 150%;
}

.hcenter{
    text-align:center;
}

a{
    color: #000000;
}

.newlb{
    font-size: 40%; 
}

#googleMap{
    width: 320px;
    height: 320px;
    border-style: ridge;
}